body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#page_num {
    width: 30px;
    text-align: center;
}

#mainContainer {
    display: flex;
    overflow: hidden;
    background-color: #2a2a2e;
    height: calc(100% - 30px);
    scrollbar-color: #79797b #232327;
}

#thumbnailContainer {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #2a2a2e;
    border-right: 1px solid;
    overflow-y: auto;
    transition: width 0.3s;
}

#thumbnailContainer.recolher {
    width: 0;
    display: none;
}

.thumbnail {
    display: flex;
    cursor: pointer;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
}

.thumbnail.active {
    background-color: #555558;
}

#viewerContainer {
    flex: 1;
    overflow: auto;
    position: absolute;
    top: 41px;
    left: 200px;
    right: 0;
    bottom: 0;
    transition: left 0.3s, width 0.3s;
}

#viewerContainer.recolher {
    left: 0;
    width: 100%;
}