#toolbarContainer {
    width: 100%;
    height: 40px;
    background-color: #38383d;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: relative;
    /* Adicionado para posicionamento relativo da findBar */
    z-index: 10;
    /* Garantir que a toolbar esteja acima do conteúdo do PDF */
}

.toolbarSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin-right: 20px;
}

.toolbarButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 4px;
    padding: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbarButton i {
    color: #fff;
}

.toolbarButton:hover {
    background-color: #4a4a4f;
}

.toolbarField {
    width: 45px;
    text-align: center;
    margin: 0 5px;
    background-color: #38383d;
    color: #fff;
    border: 1px solid #888;
    border-radius: 4px;
    padding: 2px 5px;
}

#scaleSelect {
    margin: 0 10px 0 0;
    background-color: #4a4a4f;
    color: #fff;
    border: none;
    border-radius: 4px;
    height: 100%;
    padding: 0 10px 0 0;
    outline: none;
    transition: background-color 0.3s ease;
}

#scaleSelect:hover {
    background-color: #666667;
}

#pageNumber {
    background-color: #404044;
    outline: none;
}

#findBox {
    display: flex;
    align-items: center;
    transition: width 0.3s ease;
    position: relative;
}

#findInput {
    background-color: #404044;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #737373;
    padding: 5px;
    width: 200px;
    /* Largura da caixa de pesquisa */
    outline: none;
    /* Remove a linha de foco */
}

#numPages {
    color: #fff;
}

#download,
#print {
    display: none;
}

.findBar {
    display: none;

    position: absolute;
    top: 45px;
    /* Ajuste para ficar logo abaixo da toolbar */
    left: 52px;
    /* Ajuste conforme necessário */
    background-color: #38383D;
    border-radius: 2px;
    padding: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 20;
    /* Garantir que a findBar esteja acima do conteúdo do PDF */
}

.findBar-arrow {
    position: absolute;
    top: -10px;
    left: 20px;
    /* Ajuste conforme necessário */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #38383D;
    /* Cor de fundo da seta */
}


.findBar-content {
    display: flex;
    align-items: center;
    margin-right: 10px
}

.findBar-content input {
    margin-right: 10px;
}

.findBar-content button {
    margin-right: 5px;
}

#findResultsCount {
    padding: 1px 5px 1px 5px;
    border-radius: 2px;
    background-color: #d9d9d9;
    color: #525252;
}